/* ===============================
   CERTIFICATE FILTER
================================ */

.certificate-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;

    margin-bottom: 45px;
}

.filter-btn {
    padding: 10px 20px;

    border: 1px solid var(--lavender-300);
    border-radius: 100px;

    background: white;
    color: var(--purple-text);

    font-family: "Kanit", sans-serif;

    cursor: pointer;

    transition: 0.25s;
}

.filter-btn:hover {
    background: var(--lavender-100);
}

.filter-btn.active {
    background: var(--lavender-600);
    color: white;

    border-color: var(--lavender-600);
}


/* Certificate information */

.cert-date {
    margin-top: 7px;

    color: var(--lavender-600);

    font-size: 13px;
}

.cert-category {
    display: inline-block;

    padding: 5px 10px;

    margin-bottom: 8px;

    border-radius: 100px;

    background: var(--lavender-100);

    color: var(--lavender-600);

    font-size: 11px;
    letter-spacing: 1px;

    text-transform: uppercase;
}


/* ทำให้รูปไม่เสียสัดส่วน */

.certificate-image {
    width: 100%;

    aspect-ratio: 16 / 11;

    object-fit: contain;

    padding: 5px;

    background: #fafafa;

    border-radius: 18px;

    cursor: pointer;
}


/* ปุ่ม */

.cert-buttons {
    display: flex;
    gap: 8px;

    flex-wrap: wrap;

    margin-top: 15px;
}

.cert-button {
    padding: 8px 15px;

    border-radius: 100px;

    background: var(--lavender-200);

    color: var(--lavender-600);

    font-size: 13px;

    transition: 0.25s;
}

.cert-button:hover {
    background: var(--lavender-600);
    color: white;
}
